body {
  font-family:Arial;
  background: #0d1c1d;
}

.collection {
  margin: 0 20px;
  margin-left: 160px;
}


#filter-bar-wrapper {
  height:50px;
}

#filter-bar {
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  background-color: #1d3c41;
  text-align:center;
  width:200px;
  padding-top:10px;
  z-index:2;
  border-right: 8px solid #0d1c1d;
}

#filter-bar2 {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  background-color: #1d3c41;
  text-align:center;
  height:40px;
  padding-top:10px;
  z-index:2;
}

.logo img {
  width: 390px;
  height: auto;
  margin-left: -95px;
}

.category {
  background-color:white;
  border:0px;
  top: 0;
  padding:18px;
  width:200px;
  height: 62px;
  border-bottom: 4px solid #1d3c41;
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
  color: white;
}

.category.selected {
  background-color:#0d1c1d;
  color:white;
  border-left: 10px solid #3a7b75;
}

#search  {
  padding:7px;
  background-color: #1d3c41;
  border: none;
  border-bottom: 3px solid #3a7b75;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 1000px;
  margin-left: 350px;
}

.item {
  width: 12.3%;
  list-style-type:none;
  background-color:brown;
  padding:20px;
  float:left;
  cursor:pointer;
}

.red {
  background-color:red;
}

.blue {
  background-color: lightblue;
}

.purple {
  background-color:purple;
}

.item-big { width: 300px; }


.overlay {
  position:fixed;
  height:100%;
  width:100%;
  left:0;
  top:0;
  background-color:rgba(0,0,0,0.7);
  z-index: 3;
  display:none;
}


.modal {
  width: 400px;
  position: fixed;
  top: 5%;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color:white;
  padding:10px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  border-radius:10px;
  z-index:4;
  display:none;
  max-height:90%;
  overflow:auto;
}

.modal img { width:400px; height:400px; }

.blue {
  background-color: #3a7b75;
}

.orange {
  background-color: #f79220;
}

.plain {
  background-color: #5ec5bd;
}

.fried {
  background-color: #f79220;
}

.item img {
  width: 100%;
}

.name {
  opacity: 0;
  font-size: 2px;
}

.MealCategory {
  text-align: left;
  margin-left: 10px;
  color: #3a7b75;
}
